{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="text-center">Products in basket</h3>
                <h5 class="text-center">Total Cost: {{ request.session.basket.total_amount }} UAH </h5>
                        {{ request.session.basket.products }}

                <form>
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Name of product</th>
                                <th>Amount</th>
                                <th>Unit price</th>
                                <th>Total price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product_in_basket in products_in_basket %}
                                <tr>
                                    <td>
                                        {{ product_in_basket.product.name }}
                                    </td>
                                    <td>
                                        <input value="{{ product_in_basket.nmb }}" type="number"
                                               class="product-in-basket-nmb">
                                    </td>
                                    <td>
                                        <span class="product-price"></span>
                                        {{ product_in_basket.price_per_item }}
                                    </td>
                                    <td>
                                        <span class="total-product-in-basket-amount">
                                            {{ product_in_basket.total_price }}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-right">
                        <b>Sum of order:  </b><span id="total_order_amount">54</span>
                    </div>

                    <hr>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-lg">Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}